*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
	scroll-behavior: smooth;
}
body{
  height: 100%;
}


.wrapper{

    width: 100%;
    height: 100%;
    position: relative;

}
.meni{
  height: 20vh;
  width: 100%;
}
.opis{
  height: 100vh;
  width: 100%;

  background-image: linear-gradient(rgb(0, 0, 0, 0.5),rgb(0, 0, 0, 1)),url(../images/tokio1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.opis a{
  text-decoration: none;
  color: #fff;
}

.ostalo{
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.left, .right{
  height: 100%;
  flex-basis: 50%;
}
.left{
  display: flex;
  align-items: center;
  justify-content: center;
}
.naslov{
  transition: all 0.75s ease-out;
  color: #fff;
  font-size: 6em;
  margin-bottom: 2em;
}

.krog{
  transition: all 0.75s ease-out;
  position: relative;
  margin-left: 5em;
  margin-top: 2em;
  height: 35em;
  width: 35em;
  border-radius: 50%;
  background: linear-gradient(
    to top,
    rgba(230, 235, 137, 0.8),
    rgba(189, 68, 59, 0.8)
  );
  
}

.sneakerPrvi img{
  position: absolute;
  top: 0em;
  left: 1em;
  height: 35em;
  

}
.left span{
  color: rgb(216, 49, 37);
}

@media(max-width: 1500px) {
  .meni{
    height: 20vh;

  }
  
  body nav a{
    font-size: 0.8em;
  }
  .opis{
    height: 80vh;
  }
  .ostalo{
    height: 60vh;
  }

  .naslov{
    font-size: 4.75em;
    margin-left: 0.5em;
  }
  .krog{
    height: 30em;
    width: 30em;   
  }
  .sneakerPrvi img{
    height: 30em;
  }
  .container{height: 80vh;
  }
  body .bottom{
    padding-top:0;
  }
  body .card{
    height: 90vh;
    padding-top: 5rem;
    transform: scale(0.8);
  }
  body .back-video{
    height: 80vh;
  }

}


.container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-video{
    position: absolute;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    z-index: -100;
    
}
.zgornji{
  top:0;
  
}
.spodnji{
  bottom:0;
}

.top{
  width: 100%;
  display: flex;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(230,85,54,0.2), rgba(0,0,0,1));
}
.bottom{
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(176,244,135,0.2));
  position: relative;
}

#vic{
  width:300px;
}

.nikesvg{
  margin-top: 10%;
  display: block;
  transform: scale(0.4);
}

.pot{
  fill-opacity: 0.5;
}

.pozsvg{
  position: absolute;
  z-index: 20;
  left: 1.8em;
  top: 1.2em;

}

nav{
    padding: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 100;
}
nav ul{
    color: #fff;
    font-size: 1.5em;
}

nav ul li{
    display: inline-block;
    margin: 0 3em;
    cursor: pointer;
}
nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav ul li:hover::after{
  width: 100%;
}



  .card {
    transform-style: preserve-3d;
    height: 90vh;
    width: 400px;
    border-radius: 30px;
    padding: 5rem 0;
    margin: 30px 10px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
  }
  .dol{
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .sneaker { 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.75s ease-out;
  }
  .sneaker img {
    height: 180px;
    z-index: 2;
  }
  #shape{
    height: 27.2px;
    position: absolute;
    z-index: 20;
    left: 8em;
    top: 4.75em;
  }
  .circle {
    width: 15rem;
    height: 15rem;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.75),
      rgba(241, 96, 65, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
  }
  .zel{
    background: linear-gradient(
      to right,
      rgba(0,0,0,1),rgba(176,244,135,0.2)
    );
  }
  
  .info h1 {
      text-align: center;
    margin-top: 2em;
    font-size: 2rem;
    transition: all 0.75s ease-out;
  }
  .info h3 {
    text-align: center;
    font-size: 1.3rem;
    padding: 0.5rem 0rem 1rem 0;
    color: #000;
    font-weight: 200;
    transition: all 0.75s ease-out;
  }
  #sel{
    padding: 0 0 0.5em 0;  
  }
  .bel h1, .bel h3{
    color: #fff;
  }
  .selectSize{
    width: 90%;
    font-size: 1.1em;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
  }
  input{
    display: none;

  }
  input:checked + label {
    background: #545454;
    color: #fff;
    border: 2px solid white;
    transition: 0.75s;
}
  label{
    cursor: pointer;
    text-align: center;
    border: 2px solid #545454;
    border-radius: 30px;
    color: #545454;
    width: 5em;
    height: 2em;
  }
  .bottom label{
    border: 2px solid rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.7);
  }
 
  .sizes {
    display: flex;
    justify-content: center;
  }
  .sizes button {
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;
  }
  button.active {
    background: #585858;
    color: white;
  }
  .purchase {
    margin: 0 10% 0;
    transition: all 0.75s ease-out;
    
  }
  .purchase button {
    width: 15em;
    padding: 1rem 0rem;
    background: #f16041;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
    font-size: 1.3em;
    margin-top: 2em;
  }

  .zelen button{
    background: #8cbd6e;
  }
  
  canvas {
    width: 8em;
    position: absolute;
    z-index: 50;
    top: 2em;
    left: 2em;

}
::-webkit-scrollbar{
  height: 4px;
  width: 10px;
  background: rgba(0, 0, 0, 0.8);
}
::-webkit-scrollbar-thumb{
  background: #585858;
}