*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
	scroll-behavior: smooth;
}

body{
  perspective: 1000px;
}

.wrapper{

    width: 100%;
    height: 300vh;
    position: relative;

}
.meni{
  height: 20vh;
  width: 100%;
}
.opis{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgb(0, 0, 0, 0.5),rgb(0, 0, 0, 1)),url(../images/tokio1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.opis h1{
  text-align: center;
  color: #fff;
  font-size: 6em;
  padding-top: 15%;
}
.opis img {
  object-fit: cover;
  opacity: 90%;
  height: 100%;
  width: 100%;
}
.opis img:hover{
  transform: scale(1.02);
  transition: 0.5s ease-in-out;
}
.opis a{
  text-decoration: none;
  color: #fff;
}
#su{
  object-position: -2.5em;
} 

#jacobs{
  object-position: -8em;
}
#thompson{
  object-position: -6em;
}
#murphy{
  object-position: -7em;
}
.athletes{
  height: 60vh;
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4,minmax(20em,1fr));
  justify-content: center;
  align-content: center;
}
.posamezni h2{
  color: white;
  text-align: center;
}
.posamezni:hover{
  transform: translateY(-10%);
}


.layer{
  margin: auto;
  height: 20em;
  width: 20em;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}


@media(max-width: 1500px) {
  .opis{
    height: 120vh;
  }
  .athletes{
    height: 80vh;
    grid-row-gap: 4em;
    grid-template-columns: repeat(2,minmax(20em,1fr));
  }
}
@media(max-width: 700px){
  .opis{
    height: 200vh;
  }
  .athletes{
    height: 180vh;
    grid-row-gap: 4em;
    grid-template-columns: repeat(1,minmax(20em,1fr));
  }
}

.container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-video{
    position: absolute;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    z-index: -100;
    
}
.zgornji{
  top:0;
  
}
.spodnji{
  bottom:0;
}

.top{
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(230,85,54,0.2), rgba(0,0,0,1));
}
.bottom{
  padding-top: 50px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(176,244,135,0.2));
  position: relative;
}

#vic{
  width:300px;
}

.nikesvg{
  margin-top: 10%;
  display: block;
  transform: scale(0.4);
}

.pot{
  fill-opacity: 0.5;
}

.pozsvg{
  position: absolute;
  z-index: 20;
  left: 1.8em;
  top: 1.2em;

}

nav{
    padding: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
nav ul{
    color: #fff;
    font-size: 1.5em;
}

nav ul li{
    display: inline-block;
    margin: 0 3em;
    cursor: pointer;
}


  .card {
    transform-style: preserve-3d;
    height: 90vh;
    width: 400px;
    border-radius: 30px;
    padding: 5rem 0;
    margin: 30px 10px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
  }
  .dol{
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .sneaker { 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.75s ease-out;
  }
  .sneaker img {
    height: 180px;
    z-index: 2;
  }
  #shape{
    height: 27.2px;
    position: absolute;
    z-index: 20;
    left: 8em;
    top: 4.75em;
  }
  .circle {
    width: 15rem;
    height: 15rem;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.75),
      rgba(241, 96, 65, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
  }
  .zel{
    background: linear-gradient(
      to right,
      rgba(0,0,0,1),rgba(176,244,135,0.2)
    );
  }
  
  .info h1 {
      text-align: center;
    margin-top: 2em;
    font-size: 2rem;
    transition: all 0.75s ease-out;
  }
  .info h3 {
      text-align: center;
    font-size: 1.3rem;
    padding: 2rem 0rem;
    color: #000;
    font-weight: 200;
    transition: all 0.75s ease-out;
  }
  .bel h1, .bel h3{
    color: #fff;
  }
  .sizes {
    display: flex;
    justify-content: space-around;
    transition: all 0.75s ease-out;
  }
  .sizes button {
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;
  }
  button.active {
    background: #585858;
    color: white;
  }
  .purchase {
    margin: 5rem 10% 0;

    transition: all 0.75s ease-out;
    
  }
  .purchase button {
    width: 15em;
    padding: 1rem 0rem;
    background: #f16041;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
    font-size: 1.3em;
  }

  .zelen button{
    background: #8cbd6e;
  }
  
  canvas {

    width: 20em;
    position: absolute;
    z-index: 50;
    top: 2em;
    left: 2em;

}